*{
    padding: 0;
    margin: 0;
}
body{
   margin: 0 auto;    
}
.wrap{
    border: red solid 1px;
 
}

/* 헤더 */
/* 여기에 플렉스 주고 사이드로 밀기 */
.hader{
    background-color: red;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    
}
/* 검색하면 나오는 공간 */
.recipeBox{

}
.recipeStr{
    font-size: 27px;
    width: 200px;
    height: 53px;
}
.recipebtn{
    font-size: 23px;
    width: 150px;
    height: 53px;
    margin-right: 10px;
}
/* 레시피 전체 본문 */
.content{
    margin-top: 500px;
    display: flex;
}
/* 카테고리 전체 */
.category{
    border: 1px solid #ccc;  
    width: 300px;
}
/* 커피 카테고리 */
.coffee{
    border: 1px solid #ccc;
}
    
